* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Roboto;
  line-height: 150%;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
h1 {
  font-weight: 800;
  font-size: 26px;
  padding: 15px 0;
  border-bottom: 2px solid black;
}
.contacts {
  padding: 15px 0 0 0;
  margin: 0 0 10px 0;
}
.contacts ol {
  font-size: 16px;
  padding: 0 0 0 25px;
}
.contacts ol li {
  padding: 0 0 10px 0;
}
.contacts p {
  padding: 0 0 15px 0;
  font-weight: 600;
  font-size: 20px;
}
.contacts span {
  font-weight: 500;
}
h2 {
  font-weight: 600;
  font-size: 18px;
  padding: 0 0 15px 0;
}

.about-me p {
  padding: 0 0 10px 0;
  font-size: 16px;
}
.about-me {
  margin: 0 0 10px 0;
}
.my-skills ol {
  font-size: 16px;
  padding: 0 0 0 25px;
}
.my-skills ol li {
  padding: 0 0 10px 0;
}
.my-skills ol li span {
  background: #d3d3d3;
}
.my-skills {
  margin: 0 0 10px 0;
}
.education {
  margin: 20px 0 10px 0;
}
.education ol {
  font-size: 16px;
  padding: 0 0 0 25px;
}
.education ol li {
  padding: 0 0 10px 0;
}
.experience {
  margin: 0 0 10px 0;
}
.experience ol {
  font-size: 16px;
  padding: 0 0 0 25px;
}
.experience ol li {
  padding: 0 0 10px 0;
}
.experience {
  list-style: none;
}

.task {
  padding: 10px 0 0 18px;
}
.languages {
  margin: 0 0 10px 0;
}
.languages ol {
  font-size: 16px;
  padding: 0 0 0 25px;
}
.languages ol li {
  padding: 0 0 10px 0;
}
.photo img {
  margin: 15px 0 0 0;
  width: 250px;
  height: 250px;
  float: right;
}
